<p>params.id: {{ params?.id }}</p>
<p>-------------------------</p>
<!--
commit_from: "web"
created_at: "1512889040"
creator: "小埋233"
creator_uid: 910
from: "我的青春恋爱物语果然有问题"
from_who: null
hitokoto: "温柔正确的人总是难以生存，因为这世界既不温柔，也不正确"
id: 1327
length: 27
reviewer: 0
type: "b"
uuid: "484cf2b5-e276-4b8a-9c0e-0a718d10e40b"
-->
<p>
  <d-status type="waiting">{{info?.['from']}}</d-status>
</p>
<p>
  <d-status type="waiting">{{info?.['creator']}}</d-status>
</p>
<p>
  <d-status type="waiting">{{info?.['creator_uid']}}</d-status>
</p>
<p>
  <d-status type="waiting">{{info?.['commit_from']}}</d-status>
</p>
